.top_contents p:nth-child(odd) {
    background: #E0E0EB;
    margin:0;
    line-height: 25px;
}

.top_contents p:nth-child(even) {
    background: #C5C5C5;
    margin:0;
    line-height: 25px;
}
div.top_contents {
  height:600px;
  width:100%;
  border:1px;
  overflow:auto;
  background-color:#E0E0EB;
  font-size:20px;
}
div.inner_contents {
  display:inline;
}
